VITE_API_BASE_URL=http://localhost:5000

VITE_FIREBASE_API_KEY=AIzaSyDNA-ibL6D892I4YWbUjLMXZIcaZl67Y5A
VITE_FIREBASE_AUTH_DOMAIN=ai-tutor-8080.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ai-tutor-8080
VITE_FIREBASE_STORAGE_BUCKET=ai-tutor-8080.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=302621142555
VITE_FIREBASE_APP_ID=1:302621142555:web:00e2509587f4ea73cfd2be
